nav {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d3d3f5;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    padding: 0;

}

.link {
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    color: #800000f5;
    transition: color ease-in-out 300ms;
}

.link:hover {
    color: #080808;
}

.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #f15c5c;
}