.link {
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    color: #800000;
    transition: color ease-in-out 300ms;
}

.link:hover {
    color: #242222;
}

.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #f15c5c;
}